### file 읽고 쓰기
파일 객체 = open(파일 이름, 파일 열기 모드)    
파일 열기 모드 : r(읽기), w(쓰기), a(추가)

In [1]:
# 파일을 쓰기모드로 열어 출력값 저장하기.
f = open("../Data/new.txt","w")
for i in range(1, 10+1):
    f.write(f"{i} 번째 줄 입니다.\n")
f.close()

In [3]:
# 파일을 읽기 모드로 열어 파일 내용 출력하기 - Method 1
f = open("../Data/new.txt", "r")
while True:
    line = f.readline()
    if not line:
        break
    print(line, end = "")
f.close()

1 번째 줄 입니다.
2 번째 줄 입니다.
3 번째 줄 입니다.
4 번째 줄 입니다.
5 번째 줄 입니다.
6 번째 줄 입니다.
7 번째 줄 입니다.
8 번째 줄 입니다.
9 번째 줄 입니다.
10 번째 줄 입니다.

In [5]:
# 파일을 읽기 모드로 열어 파일 내용 출력하기 - Method 2
f = open("../Data/new.txt", "r")
lines = f.readlines()
f.close()
for line in lines :
    print(line, end = "")

1 번째 줄 입니다.
2 번째 줄 입니다.
3 번째 줄 입니다.
4 번째 줄 입니다.
5 번째 줄 입니다.
6 번째 줄 입니다.
7 번째 줄 입니다.
8 번째 줄 입니다.
9 번째 줄 입니다.
10 번째 줄 입니다.

In [9]:
# 파일을 읽기 모드로 열어 파일 내용 출력하기 - Method 3
f = open("../Data/new.txt", "r")
data = f.read()
f.close()
print(data)

1 번째 줄 입니다.
2 번째 줄 입니다.
3 번째 줄 입니다.
4 번째 줄 입니다.
5 번째 줄 입니다.
6 번째 줄 입니다.
7 번째 줄 입니다.
8 번째 줄 입니다.
9 번째 줄 입니다.
10 번째 줄 입니다.
11 번째 줄 입니다.
12 번째 줄 입니다.
13 번째 줄 입니다.
14 번째 줄 입니다.
15 번째 줄 입니다.
16 번째 줄 입니다.
17 번째 줄 입니다.
18 번째 줄 입니다.
19 번째 줄 입니다.
20 번째 줄 입니다.

In [8]:
# 파일에 새로운 내용 추가하기
f = open("../Data/new.txt", "a")
for i in range(11, 20+1):
    f.write(f"{i} 번째 줄 입니다.\n")
f.close()

In [10]:
f = open("../Data/new.txt", "r")
data = f.read()
f.close()
print(data)

1 번째 줄 입니다.
2 번째 줄 입니다.
3 번째 줄 입니다.
4 번째 줄 입니다.
5 번째 줄 입니다.
6 번째 줄 입니다.
7 번째 줄 입니다.
8 번째 줄 입니다.
9 번째 줄 입니다.
10 번째 줄 입니다.
11 번째 줄 입니다.
12 번째 줄 입니다.
13 번째 줄 입니다.
14 번째 줄 입니다.
15 번째 줄 입니다.
16 번째 줄 입니다.
17 번째 줄 입니다.
18 번째 줄 입니다.
19 번째 줄 입니다.
20 번째 줄 입니다.

---
### with 문
: 파일의 열고 닫음을 자동으로 처리하기 위해 with 문을 벗어나면 자동으로 close()

In [13]:
# 파일 만들기
with open("../Data/new2.txt", "w") as f:
    for i in range(1, 10+1):
        f.write(f"{i} 번째 줄 입니다.\n")

In [15]:
# 파일 읽기
with open("../Data/new2.txt", "r") as f:
    data = f.read()
    print(data)

1 번째 줄 입니다.
2 번째 줄 입니다.
3 번째 줄 입니다.
4 번째 줄 입니다.
5 번째 줄 입니다.
6 번째 줄 입니다.
7 번째 줄 입니다.
8 번째 줄 입니다.
9 번째 줄 입니다.
10 번째 줄 입니다.

---
### Pandas

In [16]:
import pandas as pd

In [18]:
# 불러오기
txtSample = pd.read_table("../Data/new.txt", header=None)
txtSample.head()

             0
0  1 번째 줄 입니다.
1  2 번째 줄 입니다.
2  3 번째 줄 입니다.
3  4 번째 줄 입니다.
4  5 번째 줄 입니다.

In [ ]:
# 저장하기
# index 와 header 를 제거하고 data 만 저장 해주어야 한다.
txtSample.to_string("../Data/sample_file.txt", index=False, header=None)

In [23]:
pd.read_table("../Data/sample_file.txt", header=None).head()

              0
0   1 번째 줄 입니다.
1   2 번째 줄 입니다.
2   3 번째 줄 입니다.
3   4 번째 줄 입니다.
4   5 번째 줄 입니다.