## SQLite

In [18]:
import sqlite3

# sqlite 데이터베이스 연결하기
dbPath = "../Data/test.sqlite"
conn = sqlite3.connect(dbPath)

# 테이블을 생성하고 데이터 넣기
curs = conn.cursor()
curs.executescript(
    """
    DROP TABLE IF EXISTS items;

    CREATE TABLE items(
        item_id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT UNIQUE,
        price INTEGER
    );

    INSERT INTO items(name, price) VALUES ('APPLE', 800);
    INSERT INTO items(name, price) VALUES ('Orange', 780);
    INSERT INTO items(name, price) VALUES ('Banana', 600);
    """
)
conn.commit()

In [19]:
# 데이터 추출하기
curs = conn.cursor()
curs.execute("SELECT item_id, name, price FROM items")
item_list = curs.fetchall()
for it in item_list:
    print(it)

(1, 'APPLE', 800)
(2, 'Orange', 780)
(3, 'Banana', 600)

In [20]:
import sqlite3

# sqlite 데이터베이스 연결하기
dbPath = "../Data/test2.sqlite"
conn = sqlite3.connect(dbPath)

# 테이블을 생성하고 데이터 넣기
curs = conn.cursor()
curs.executescript(
    """
    DROP TABLE IF EXISTS items;

    CREATE TABLE items(
        item_id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT UNIQUE,
        price INTEGER
    );
    """
)
conn.commit()

In [21]:
# 데이터 넣기
curs = conn.cursor()
curs.execute("INSERT INTO items (name, price) VALUES (?,?)", ("Orange", 5200))
conn.commit()

In [22]:
# 여러 데이터를 연속으로 넣기
# 데이터 넣기
curs = conn.cursor()
data = [("Mango", 7700), ("Kiwi", 4000), ("Grape", 8700), ("Peach", 9400)]
curs.executemany("INSERT INTO items (name, price) VALUES (?,?)", data)
conn.commit()

In [23]:

# 데이터 추출하기
curs = conn.cursor()
curs.execute("SELECT item_id, name, price FROM items")
item_list = curs.fetchall()
for it in item_list:
    print(it)

(1, 'Orange', 5200)
(2, 'Mango', 7700)
(3, 'Kiwi', 4000)
(4, 'Grape', 8700)
(5, 'Peach', 9400)

---
## MySQL

In [24]:
# !pip install pymysql

In [25]:
import pymysql

# Connection
conn = pymysql.connect(
    host='127.0.0.1',
    user = 'root',
    password='qwer1234',
    db ='education',
    charset='utf8'
)

# Cusor 생성
curs = conn.cursor()

In [26]:
# 검색
sql = "SELECT * FROM student"
curs.execute(sql)
rows = curs.fetchall()
print(rows)
conn.close()

(('b002', '관우', '심리학과', '010-222', '서울'), ('b003', '장비', '경제학과', '010-333', '서울'), ('c002', '여포', '심리학과', '016-222', '경기'), ('c003', '손견', '경제학과', '016-333', '경기'), ('d001', '홍길동', '수학과', '017-111', '광주'), ('S001', '박소명', '컴퓨터공학과', '123-4567', None), ('S002', '최민국', '컴퓨터공학과', '234-5678', None), ('S005', '김상진', '사학과', '567-8901', None), ('S006', '황정숙', '사학과', '678-9012', None))

In [27]:
# list 로 변환!
rowList = list(rows)
print(rowList)

[('b002', '관우', '심리학과', '010-222', '서울'), ('b003', '장비', '경제학과', '010-333', '서울'), ('c002', '여포', '심리학과', '016-222', '경기'), ('c003', '손견', '경제학과', '016-333', '경기'), ('d001', '홍길동', '수학과', '017-111', '광주'), ('S001', '박소명', '컴퓨터공학과', '123-4567', None), ('S002', '최민국', '컴퓨터공학과', '234-5678', None), ('S005', '김상진', '사학과', '567-8901', None), ('S006', '황정숙', '사학과', '678-9012', None)]

In [28]:
# 불러오기
print(rowList[0])
print(rowList[0][1])

('b002', '관우', '심리학과', '010-222', '서울')
관우

### Insert

In [29]:
# 함수로 제작!
def connection():
    # Connection
    conn = pymysql.connect(
    host='127.0.0.1',
    user = 'root',
    password='qwer1234',
    db ='education',
    charset='utf8'
    )
    return conn

In [30]:
conn = connection()
curs = conn.cursor()

In [31]:
# sql 문장
sql = "insert into student(scode, sname, sdept, sphone, saddress) values (%s,%s,%s,%s,%s)"

In [32]:
curs.execute(sql, ('a001','a1','국문학과','010-1111','서울'))
curs.execute(sql, ('a002','a2','국문학과','010-2222','서울'))
conn.commit()

In [33]:
# 검색
sql = "SELECT * FROM student"
curs.execute(sql)
rows = curs.fetchall()
print(rows)
conn.close()

(('a001', 'a1', '국문학과', '010-1111', '서울'), ('a002', 'a2', '국문학과', '010-2222', '서울'), ('b002', '관우', '심리학과', '010-222', '서울'), ('b003', '장비', '경제학과', '010-333', '서울'), ('c002', '여포', '심리학과', '016-222', '경기'), ('c003', '손견', '경제학과', '016-333', '경기'), ('d001', '홍길동', '수학과', '017-111', '광주'), ('S001', '박소명', '컴퓨터공학과', '123-4567', None), ('S002', '최민국', '컴퓨터공학과', '234-5678', None), ('S005', '김상진', '사학과', '567-8901', None), ('S006', '황정숙', '사학과', '678-9012', None))

### Insert 2

In [34]:
conn = connection()
curs = conn.cursor()

In [35]:
# data
data = (
    ('z001', 'z1', '심리학과', '010-1212', '부산'),
    ('z002', 'z2', '심리학과', '010-2212', '부산'),
)

In [36]:
# sql 문장
sql = "insert into student(scode, sname, sdept, sphone, saddress) values (%s,%s,%s,%s,%s)"

In [37]:
# 실행
curs.executemany(sql, data)
conn.commit()

In [38]:
# 검색
sql = "SELECT * FROM student where scode like 'z%'"
curs.execute(sql)
rows = curs.fetchall()
print(rows)
conn.close()

(('z001', 'z1', '심리학과', '010-1212', '부산'), ('z002', 'z2', '심리학과', '010-2212', '부산'))

### select 의 내용을 dataframe 으로 보기

In [39]:
# !pip install sqlalchemy

In [40]:
import pandas as pd
from sqlalchemy import create_engine

In [41]:
engine = create_engine("mysql+pymysql://root:qwer1234@127.0.0.1:3306/education")
conn = engine.connect

In [42]:
data = pd.read_sql_table('student',conn)
data

/var/folders/31/p8l49dbn1vvgq9c5qb27_zgm0000gn/T/ipykernel_4772/3946101428.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql_table('student',conn)

AttributeError: 'function' object has no attribute 'cursor'