### --- 변수와 자료형 ---

#### 변수
: 계산에 필요한 자료를 일시적으로 저장하거나 처리 결과를 담을 수 있는 기억장소를 지정 해주는 역할    
변수 이름은 값을 지정하는 메모리 영역의 이름으로 할당.    

#### 변수 이름이 작성 규칙
- 첫자는 영문으로 시작.
- 첫자를 제외하고 숫자, under bar, dot 를 사용할 수 있다.
- 대문자와 소문자를 구분.
- 변수 이름은 의미를 파악할 수 있는 이름으로 지정하는 것이 좋다.
- 두 단어를 포함한 Camel (변수의 이름을 지정할 경우 두 번째 단어의 첫 자는 대문자), Snake (under bar 로 구분) 하는 것이 가독성이 좋습니다.

In [1]:
appleFruit = 10
apple_fruit = 10

### 자료형

#### 숫자 자료형

In [2]:
# 정수형
var01 = 123
var01 = -17

var01 # 변수에 최근 값이 저장된다.

-17

In [3]:
# 실수형
var02 = 1.2
var02 = -12.34
var02

-12.34

In [4]:
# 화면 출력

print("Apple")
print("Apple", "Banana")
print("Apple"+"Banana")

Apple
Apple Banana
AppleBanana

In [5]:
# 연산자

var01 = 3
var02 = 4

print("덧셈 :", var01+var02) 
print("뺄셈 :", var01-var02) 
print("곱셈 :", var01*var02) 
print("실수 나눗셈 :", var01/var02) 
print("정수 나눗셈 몫 :", var01%var02) 
print("정수 나눗셈 나머지 :", var01//var02)

덧셈 : 7
뺄셈 : -1
곱셈 : 12
실수 나눗셈 : 0.75
정수 나눗셈 몫 : 3
정수 나눗셈 나머지 : 0

In [6]:
# 거듭제곱
print("제곱 :", var01 ** 2) 
print("제곱 :", pow(var01, 2))

제곱 : 9
제곱 : 9

### 파이썬 모듈을 이용한 수학 계산

In [7]:
import math # 수학 계산 모듈

In [8]:
# 거듭제곱
math.pow(var01,2)

9.0

In [9]:
# 제곱근
math.sqrt(var01)

1.7320508075688772

In [10]:
# sin 45도
math.sin(45)

0.8509035245341184

In [11]:
math.pow(math.sin(45),2)+ math.pow(math.cos(45),2)

1.0

### 난수

In [12]:
import random

In [13]:
random.randint(1,100)

15

### 범위의 수
 : range(start, end+1, step 얼마씩) 함수가 있다.

In [14]:
var01 = [1,2,3,4,5,6,7,8,9,10]
print(var01)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
# 숫자를 하나만 적으면 and 이다.
range(10)

range(0, 10)

In [16]:
# 내림차순으로 할 경우 - 를 생각 해야한다.
list(range(10,1-1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [17]:
result = list(range(1,10+1,1))
print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
#2~10 까지 짝수만 출력
list(range(2,10+1,2))

[2, 4, 6, 8, 10]

In [19]:
# 10에서 2까지 짝수만 출력
list(range(10,2-1,-2))

[10, 8, 6, 4, 2]

### Sampling

In [20]:
list01 = range(1000+1)
print(random.sample(list01, 10))

[707, 347, 238, 971, 881, 772, 784, 835, 146, 512]

In [21]:
# 로또 번호 생성하기 1~45 중 6개
print(random.sample(range(1,45+1,1),6))

[25, 37, 23, 39, 40, 38]

In [22]:
# 반올림
# 소숫점이 .5 일 경우 결과가 홀수면 짝수 쪽으로 출력한다.
print(round(2.5))
print(round(3.5))
print(round(4.5))

print(round(2.6))
print(round(3.6))
print(round(4.6))

2
4
4
3
4
5

### 메모리에 있는 변수 보기

In [23]:
dir

In [24]:
# 메모리에서 var01 삭제
del var01

---
### 관계 연산자

In [25]:
num1 = 100
num2 = 20

# 동등 비교
print(num1 == num2)
print(num1 != num2)

# 크기 비교
print(num1 > num2)
print(num1 < num2)
print(num1 >= num2)
print(num1 <= num2)

False
True
True
False
True
False

### 논리 연산자

In [26]:
# And, Or 연산자 (&, | <= 사용하면 안된다!, bit 연산자)
print((num1 >= 50) and (num2 <= 10))
print((num1 >= 50) or (num2 <= 10))

# 부정 연산자
print(not(num1 >= 50))

False
True
False

In [27]:
# ! 는 해당 os 의 명령으를 사용 할 때 쓴다.
!ls

01. Preview.ipynb
02. 변수와 자료형.ipynb

---
### 문자열 자료형

In [28]:
var01 = 'Hello World!'
var01

'Hello World!'

In [29]:
# 여러 줄의 문자열
var01 = """
    Hello World!
        Good to meet you!
"""
print(var01)

    Hello World!
        Good to meet you!

In [30]:
# 쌍 따옴표 와 홑 따옴표 사용
var01 = "My father`s wife is my mother."
var02 = 'He says "I love you".'
print(var01)
print(var02)

My father`s wife is my mother.
He says "I love you".

In [31]:
# 툭수 문자
var03 = 'aaa\nbbb'
var04 = 'ccc\tddd'
print(var03, var04)

aaa
bbb ccc	ddd

In [32]:
# 문자열 연산 (덧셈)
var01 = "python"
var02 = 'is fun'

print(var01+var02)
print(var01,var02)

pythonis fun
python is fun

In [33]:
# 문자열 연산(곱셈)
var01 = 'Python'
print(var01*3)

PythonPythonPython

In [34]:
print("="*20)
print("Python")
print("="*20)

====================
Python
====================

In [35]:
print("*"*21+"\nPython\t\t파이썬\n"+"*"*21)
print("*"*21,"Python\t\t파이썬","*"*21,sep='\n')
print("*"*21,"Python\t\t파이썬","*"*21,sep='\t')

*********************
Python		파이썬
*********************
*********************
Python		파이썬
*********************
*********************	Python		파이썬	*********************

### 문자열 indexing 과 slicing

In [36]:
str =  "abcdefghijklmn"

print(str[0])
print(str[:2+1])
print(str[5:])
print(str[:5])
print(str[0]+str[1]+str[2])
print(str[-1])
print(str[5:-2])

a
abc
fghijklmn
abcde
abc
n
fghijkl

In [37]:
str = "20201229Snow"

year = str[0:3+1]
day = str [4:7+1]
weather = str[8:]

print(year, day, weather) # 2020 1229 Snow

2020 1229 Snow

In [38]:
str = "abbde"
str = str[0:2]+"c"+str[3:]
str

'abcde'

---
### 문자열 formatting
: %s, %d, %f

In [39]:
# %d : 정수형 formatting
print("I have %d apples."%2)

I have 2 apples.

In [40]:
number = 2
print("I have %d apples."%number)

I have 2 apples.

In [41]:
# %s : 문자열 formatting
print("I have %s apples."%'two')

I have two apples.

In [42]:
# 혼합형 formatting
number = 2
fruit = 'apples'
print("I have %d %s."%(number, fruit))

I have 2 apples.

In [43]:
# 문자열 정렬
print("I have 2 %10s."%'applse')
print("I have 2 %-10s."%'applse')

I have 2     applse.
I have 2 applse    .

In [44]:
# %f : 실수형 formatting
print("-"*20)
print("%.4f"%3.14159)
print("%10.4f"%3.14159)

--------------------
3.1416
    3.1416

---
## f-string 포맷팅
: python 3.6 이상

In [45]:
name = '홍길동'
age = 32
print(f"{name}의 나이는 {age}살 입니다.")

홍길동의 나이는 32살 입니다.

In [46]:
number = 1234567

In [47]:
# 좌측 정렬
f"{number:<20}"

'1234567             '

In [48]:
# 우측 정렬
f"{number:>20}"

'             1234567'

In [49]:
# 가운데 정렬
f"{number:^20}"

'      1234567       '

In [50]:
# 빈칸 채우기
print(f"{number:0>20}")
print(f"{number:#>20}")

00000000000001234567
#############1234567

In [51]:
# 천 단위 쉼표
f"{number:,}"

'1,234,567'

In [52]:
print(f"'[{number:-^20,}]'")

'[-----1,234,567------]'

In [53]:
# 실수 출력
f_number = 3.141592
f"[{f_number:20.3f}]"

'[               3.142]'

---
### 문자열 관련 함수

In [54]:
# 문자 count
str = "I have a dream."
print(len(str)) # len = length
print(str.count("a")) # string 은 class 이기 때문에 안에 method 가 있다! << ex : count () 안의 문자와 일치하는 값 찾기

15
3

In [55]:
# 문자 위치 알려주기 -1
print(str.find("e")) # e 가 몇 번째 있는지.
print(str.find("x")) # -1 결과는 없다 라는 뜻!

5
-1

In [56]:
# 문자 위치 알려주기 -2
print(str.find("e")) # e 가 몇 번째 있는지.
# print(str.find("x")) # -1 결과는 없다 라는 뜻!

print(str.index("e"))

5
5

In [57]:
# 특정 글자의 모든 위치를 알아내는 방법
str = "I have a dream."
search_word = "a"
start = 0
count = 0
while True :
    position = str.find(search_word, start)
    if position == -1 :
        break
    count +=1
    print(f"단어 {search_word}의 {count}번의 위치는 {position} 입니다.")
    start = position + len(search_word)

단어 a의 1번의 위치는 3 입니다.
단어 a의 2번의 위치는 7 입니다.
단어 a의 3번의 위치는 12 입니다.

In [58]:
# 문자열 삽입
str = ","
str.join('abcdefg')

'a,b,c,d,e,f,g'

In [59]:
# 소문자를 대문자로 바꾸기
str = "hi"
str = str.upper()
str

'HI'

In [60]:
# 소문자로 바꾸기
str.lower()

'hi'

In [61]:
# 왼쪽 공백 지우기
str = "          hi"
str.lstrip()

'hi'

In [62]:
# 오른쪽 공백 지우기
str = "hi                 "
str.rstrip()

'hi'

In [63]:
# 양쪽 공백 지우기
str = "      hi       "
str.strip()

'hi'

In [64]:
# 문자열 바꾸기
str = "Life is too short to be happy."
str.replace("happy", "unhappy")

'Life is too short to be unhappy.'

In [65]:
# 문자열 나누기
str = "Life is too short to be happy."
list01 = str.split()
type(list01)
list01[0]

'Life'

In [66]:
str = "a:b:c:d"
str.split(":")

['a', 'b', 'c', 'd']

### 날짜형 변환

In [67]:
from datetime import datetime, timedelta

In [68]:
time1 = datetime(2020,12,22,21,0,0,0)
print(time1)

2020-12-22 21:00:00

In [69]:
type(time1)

datetime.datetime

In [70]:
# 날짜 계산 하기
time2 = datetime.now()
print(time2)
print(time2-time1)

2025-05-12 15:16:38.896869
1601 days, 18:16:38.896869

In [71]:
print((time2-time1).days, "일")
print((time2-time1).seconds, "초") # 일자를 제외한 초 만 보여준다.

1601 일
65798 초

In [73]:
# 시간으로 확인하기
((time2 - time1).days *24)+ math.floor((time2-time1).seconds/60/60)

38442

In [ ]:
# 특정 날짜로 부터 시간 계산
print("현재 시간 부터 5일 뒤:",time2 + timedelta(days=5))
print("현재 시간 부터 3일 전:",time2 + timedelta(days=-3)) 
print("현재 시간 부터 1일 뒤의 2시간 전:",time2 + timedelta(days=1,hours=-2))

현재 시간 부터 5일 뒤: 2025-05-17 15:16:38.896869
현재 시간 부터 3일 전: 2025-05-09 15:16:38.896869
현재 시간 부터 1일 뒤의 2시간 전: 2025-05-13 13:16:38.896869

### 올해 남은 일자 확인하기

In [ ]:
# 현재 년도
timeOnYear = datetime.now().date().year

endDate = datetime(timeOnYear,12,31,23,59,59)
print((endDate - datetime.now()).days, "일")

233
233 일

### 리스트(list) 자료형
- 숫자나 문자들의 모음을 하나의 자료형으로 표현하기 위해 사용

In [89]:
# 리스트 자료형 선언
var01 = []
var02 = [1,2,3]
var03 = ["I", 'have', 'a', 'dream']
var04 = [1, 2, 'Dream', 'True']
var05 = [1, 2, ['Dream', 'True']]

In [91]:
# var05 dptj 'Dream' 만 추출하기
print(var05[2][0])
print(var05[-1][0])

Dream
Dream

---
### 리스트 연산자

In [94]:
# 리스트의 확장
var01 = [1,2,3]
var02 = [4,5,6]
var01 + var02

[1, 2, 3, 4, 5, 6]

In [95]:
# 리스트의 덧셈
for i in range(len(var01)):
    print(var01[i]+var02[i])

5
7
9

In [96]:
#
var01 * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
# 3hi!
var = [1,2,3]
str(var[2]) + 'hi!'

TypeError: 'str' object is not callable

In [100]:
var = [1,2,3]
print(3 in var)
print(4 in var)

True
False

---
### 리스트의 수정과 삭제

In [110]:
var = [1,2,3]
var[2] = 4
var

[1, 2, 4]

In [ ]:
# list 는 넣는 범위를 잡아주어야 한다!
var[1:2] = ['a','b','c']
var

[1, 'a', 'b', 'c', 4]

In [ ]:
var[1:2+1] = []
var

[1, 'c', 4]

In [ ]:
del var[1]
var

In [133]:
# 출력 예) [100,200,300,400,500,600,700]
startNum = 100
endnum = 700
step = 100
varEx = list(range(startNum,endnum+1,step))
print(varEx)

[100, 200, 300, 400, 500, 600, 700]

In [134]:
# 200 삭제하기
del varEx[1]
print(varEx)

[100, 300, 400, 500, 600, 700]

In [135]:
# 300, 400, 500 삭제하기
varEx[1:3+1] = []
# del varEx[1:3+1]
print(varEx)

[100, 600, 700]

In [136]:
# 원상태로 복원하기
varEx[1:1] = list(range(200,500+1,100))
print(varEx)

[100, 200, 300, 400, 500, 600, 700]

---
### 리스트 관련 함수

In [ ]:
# 리스트에 데이터 추가하기
var = [1,2,3]
var.append(4) # 맨 뒤로 들어간다.
var.append([5,6]) # 리스트로 넣으면 리스트로 들어간다.
var

[1, 2, 3, 4, [5, 6]]

In [142]:
# 리스트의 정렬
var = [1,4,3,2]

# 오름차순 정렬
var.sort() # 먼저 해주고 출력 해야한다!
print(var)
# 내림차순 정렬
var.reverse()
print(var)

[1, 2, 3, 4]
[4, 3, 2, 1]

In [ ]:
# 리스트에 데이터 삽입
var = [1,2,3]
var.insert(0, 4) # 0번 위치에 4를 삽입
var

[4, 1, 2, 3]

In [ ]:
# 리스트의 요소 제거
var = [1,2,3,4,4,4,5]
var.remove(4) # 4 라는 데이터를 지우겠다. / del 은 index 번호를 추적해 지운다. / 여러 개 일 경우 count 를 해서 그 수 만큼 for 문을 돌려준다.
print(var)

[1, 2, 3]

In [145]:
# 리스트에서 데이터 꺼내기
var = [1,2,3]
print(var.pop()) # 리스트의 마지막 데이터를 보여주고 해당 데이터는 삭제
print(var)

3
[1, 2]

In [147]:
# for 문을 사용한 pop
var = [1,2,3]
for _ in range(len(var)) : # 쓰지 않는 변수는 언더바 (_) 표시 한다.
    print(var.pop())
print(var)

3
2
1
[]

In [ ]:
# 원하는 위치를 pop 하기
var = [1,2,3]
print(var.pop(0)) # 0번 자리를 pop
print(var)

1
[2, 3]

In [ ]:
# 리스트의 확장
var = [1,2,3,4]
var.extend([5,6]) # extend : list 형태로 삽입되지 않는다! / append : list 형태로 삽입 된다.
print(var)

[1, 2, 3, 4, 5, 6]

### EX

In [ ]:
# 1 부터 10 까지의 수 중 짝수 List 와 홀수 List 를 따로 생성하고
# 짝수 List 에 홀수 List 를 확장하여 합계 구하기
evenVar =  list(range(2,10+1,2))
oddVar = list(range(1,10+1,2))
evenVar.extend(oddVar)

sum(evenVar)    # for 문을 사용하지 않아도 된다.

55

### EX
: 아래 리스트를 필요한 부분을 발췌하여
Hello World! My name is Alice and I`m 30 years old. 로 출력하기

In [159]:
list01 = [1,3.14,'Hello World!',True,[170,50,30],['Alice','Cathy']]
print(f"{list01[2]} My name is {list01[-1][0]} and I`m {list01[-2][2]} years old.")

Hello World! My name is Alice and I`m 30 years old.

### 리스트의 복사
1. Call by Reference

In [ ]:
# 이렇게 쓰면 법원 간다!
var01 = [1,2,3,4]
var02 = var01

In [161]:
var02[0] =10

In [163]:
print(var01)
print(var02)

[10, 2, 3, 4]
[10, 2, 3, 4]

In [164]:
# 이렇게 써야 안간다.
var01 = [1,2,3,4]
var02 = var01.copy()

In [165]:
var02[0] =10

In [166]:
print(var01)
print(var02)

[1, 2, 3, 4]
[10, 2, 3, 4]

In [167]:
# 이렇게 해도 된다.
from copy import copy
var01 = [1,2,3,4]
var02 = copy(var01)
var02[0] =10
print(var01)
print(var02)

[1, 2, 3, 4]
[10, 2, 3, 4]

In [168]:
# 이렇게 해도 된다.
var01 = [1,2,3,4]
var02 = var01[:]
var02[0] =10
print(var01)
print(var02)

[1, 2, 3, 4]
[10, 2, 3, 4]