### Dictionary
: key 와 value 로 구성한다.

In [ ]:
# 생성하기 : 중괄호로 선언 / 대괄호로 불러온다!
dic = {
    'name' : 'petty',
    'phone' : '010-2222-1111',
    'birth' : '1231'
}

In [2]:
# 사용하기
dic['name']

'petty'

In [3]:
dic = {
    'a' : [1,2,3]
}

In [4]:
dic['a'][0]

1

In [6]:
# 데이터 추가하기
dic['b'] = 'bbb'
dic

{'a': [1, 2, 3], 'b': 'bbb'}

In [ ]:
# 수정하기
dic['b'] = 'ccc'
dic

{'a': [1, 2, 3], 'b': 'ccc'}

In [8]:
# 삭제하기
del dic['b']
dic

{'a': [1, 2, 3]}

---
### Dictionary 관련 함수

In [9]:
dic = {
    'name' : 'petty',
    'phone' : '010-2222-1111',
    'birth' : '1231'
}

In [10]:
dic.keys()

dict_keys(['name', 'phone', 'birth'])

In [12]:
list(dic.keys())

['name', 'phone', 'birth']

In [13]:
dic.values()

dict_values(['petty', '010-2222-1111', '1231'])

In [14]:
list(dic.values())

['petty', '010-2222-1111', '1231']

In [15]:
dic.items()

dict_items([('name', 'petty'), ('phone', '010-2222-1111'), ('birth', '1231')])

In [17]:
item_list = list(dic.items())
item_list

[('name', 'petty'), ('phone', '010-2222-1111'), ('birth', '1231')]

In [19]:
item_list[0][1]

'petty'

In [22]:
# 완전 삭제
dic.clear()
dic

{}

In [23]:
d = {
    'name' : '홍길동',
    'age' : 30
}

In [25]:
print(f"나의 이름은 {d['name']} 이고 나이는 {d['age']} 살 입니다.")

나의 이름은 홍길동 이고 나이는 30 살 입니다.

---
### 객체 동일성

In [26]:
list1 = ['one', 'two']
list2 = ['one', 'two']

In [ ]:
list1 is list2 # 메모리의 위치와 데이터 이름이 모두 똑같은지 확인

False

In [ ]:
list1 == list2 # 데이터가 같은지 확인

True

In [29]:
list1[0] is list2[0]

True

In [30]:
var01 = [1,2,3,4]
var02 = var01

In [31]:
print(var01 is var02)
print(var01 == var02)

True
True

In [32]:
var01 = [1,2,3,4]
var02 = var01[:]

In [33]:
print(var01 is var02)
print(var01 == var02)

False
True